

#each-event {
    // padding: 100px 0;
    padding: 50px 0;
    margin: 0 100px;
    section.wrapper {}
    h3 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }
    div.main-event-section {
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 40px 100px;
        div.for-centering {
            display: block;
            margin: 0 auto;
            width: fit-content;
            text-align: center;
            ul.first-part {
                display:flex;
                align-items: center;
                li {
                    width: auto;
                    display: block;
                    // margin:  0 auto;
                    div.single-photo {
                        width: 300px;
                        margin-right: 40px;
                        img {
                            border-radius: 20px;
                        }
                    }
                    h5 {
                        font-weight: bold;
                        font-size: 24px;
                    }
                    h5.first {}
                    h5.second {}
                    a.register {
                        font-weight: 600;
                    }
                }
            } //ul.first-part ended
        } //div.for-centering ended
        h6 {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 700;
        }
        p.event-detail {
            margin: 10px 0;
        }
        p.comm-detail {
            font-size: 20px;
            span {}
        }
        div.each-rules {
            h6 {
                margin-bottom: 20px;
            }
            p.each-rule {
                font-size: 18px;
                span {
                    margin-right: 10px;
                }
            }
        }
    } //div.main-event-section ended 
    section.bottom-event {
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 20px;
        margin-top: 50px;
        opacity: 0.8;
        a {
            font-weight: 500;
            margin-right: 80px;
        }
        div.for-centering-2 {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: fit-content;
            div.con-icon {
                margin-right: 6px;
                width: 30px;
                display: block;
                img {}
            }
            div.event-call {
                display: flex;
                align-items: center;
                div {
                    img {}
                }
            }
            div.event-whatsapp {
                display: flex;
                align-items: center;
                div {
                    img {}
                }
            }
        }
    }
} //#each-event ended




// RESPONSIVE 

@media all and (max-width:980px){
    #each-event div.main-event-section {
        padding: 40px 60px;
    }
}

@media all and (max-width:860px){
    #each-event {
        padding: 50px 0;
        margin: 0 50px;
    }
}

@media all and (max-width:768px){
    #each-event div.main-event-section div.for-centering ul.first-part {
        flex-wrap: wrap;
    }
    #each-event div.main-event-section div.for-centering ul.first-part li {
        margin: 0 auto;
        width: 100%;
    }
    #each-event div.main-event-section div.for-centering ul.first-part li div.single-photo {
        margin: 0 auto 20px;
    }
    #each-event div.main-event-section div.for-centering ul.first-part li h5 {
        font-size: 20px;
    }
    #each-event div.main-event-section div.for-centering ul.first-part li h5 {
        // margin-top: 20px;
    } 
    #each-event div.main-event-section h6 {
        margin-top: 20px;
        font-size: 20px;
    }
    #each-event div.main-event-section p.comm-detail {
        font-size: 18px;
    }
    #each-event div.main-event-section div.each-rules p.each-rule {
        font-size: 16px;
    }

    #each-event section.bottom-event a {
        margin-right: 30px;
    }
}


@media all and (max-width:640px){
    #each-event div.main-event-section {
        padding: 40px 40px;
    }

}


@media all and (max-width:480px){
    #each-event div.main-event-section {
        padding: 40px 20px;
    }
    #each-event {
        padding: 50px 0;
        margin: 0 20px;
    }
    #each-event div.main-event-section div.for-centering ul.first-part li div.single-photo {
        width: 280px;
    }
    #each-event h3 {
        font-size: 24px;
    }
    #each-event div.main-event-section div.for-centering ul.first-part li h5 {
        font-size: 18px;
    }
    #each-event div.main-event-section h6 {
        font-size: 18px;
    }
    #each-event div.main-event-section p.event-detail {
        font-size: 15px;
    }
    #each-event div.main-event-section p.comm-detail {
        font-size: 16px;
    }
    #each-event div.main-event-section div.each-rules p.each-rule {
        font-size: 15px;
    }
}


@media all and (max-width:360px){
    #each-event div.main-event-section div.for-centering ul.first-part li div.single-photo {
        width: 240px;
    }
    #each-event div.main-event-section {
        padding: 30px 20px;
    }
    #each-event div.main-event-section div.for-centering ul.first-part li a.register {
        margin-top: 20px;
    }
    #each-event div.main-event-section h6 {
        font-size: 16px;
    }
    #each-event div.main-event-section p.event-detail {
        font-size: 14px;
    }
    #each-event div.main-event-section p.event-detail {
        font-size: 13px;
    }
    #each-event div.main-event-section p.comm-detail {
        font-size: 15px;
    }
    #each-event div.main-event-section div.each-rules h6 {
        margin-bottom: 10px;
    }

    section.bottom-event {
        margin: 50px 20px 0 20px;
    }
}