a.register {
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 30px;
}

section.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
}

header {
  padding: 10px 0;
}
header section.all-in-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header section.all-in-header a.logo {
  width: 120px;
  display: block;
}
header section.all-in-header div.all-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header section.all-in-header div.all-other a.nav {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
}
header section.all-in-header div.all-other a.nav:last-child {
  margin-right: 0;
}

.all-other {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.all-other .nav {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
}
.all-other .nav:last-child {
  margin-right: 0;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0 0;
  transition: transform 0.5s;
}
.burger-menu.cross .bar:nth-child(1) {
  transform: rotate(-60deg) translate(-8px, 9px);
}
.burger-menu.cross .bar:nth-child(2) {
  opacity: 0;
}
.burger-menu.cross .bar:nth-child(3) {
  transform: rotate(45deg) translate(0px, -6px);
}

#spotlight {
  padding: 100px 0;
  text-align: center;
}
#spotlight div.main-image {
  width: 450px;
  display: block;
  margin: 0 auto 30px;
}
#spotlight div.main-image img {
  margin: 0 auto;
}
#spotlight h3 {
  font-size: 16px;
  font-weight: 500;
}
#about {
  padding: 30px 0;
}
#about h2 {
  font-weight: 600;
}
#about ul {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about ul li div.about-image {
  width: 400px;
  margin: 0 auto;
}
#about ul li div.about-image img {
  margin: 0 auto;
  border-radius: 20px;
}
#about ul li h2 {
  margin-bottom: 30px;
  font-size: 36px;
}
#about ul li.ab-image {
  width: 45%;
}
#about ul li.ab-content {
  width: 55%;
}

#events {
  padding: 100px 0;
}
#events h2 {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
#events section.event-section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#events section.event-section ul li {
  width: 23%;
  margin: 0 20px 20px 0;
}
#events section.event-section ul li div.group-section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
#events section.event-section ul li div.group-section h5 {
  font-weight: 700;
  margin: 10px 0;
}
#events section.event-section ul li div.group-section h5.event-name {
  font-size: 20px;
}
#events section.event-section ul li div.group-section h5.event-reg {
  font-size: 18px;
}
#events section.event-section ul li div.group-section a.register {
  margin-top: 0;
}
#events section.event-section a.more-button {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0;
  display: block;
}

#rule-timing {
  padding: 50px 0 100px;
}
#rule-timing h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
#rule-timing section.rules {
  margin-bottom: 50px;
}
#rule-timing section.rules div.all-rules {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
}
#rule-timing section.rules div.all-rules h4 {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}
#rule-timing section.rules div.all-rules p.each-rule {
  font-size: 18px;
  font-size: 20px;
  font-weight: bold;
}
#rule-timing section.rules div.all-rules p.each-rule span {
  margin-right: 10px;
}
#rule-timing section.timing div.all-timing {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-wrap: wrap;
}
#rule-timing section.timing div.all-timing ul.times-only {
  width: 25%;
}
#rule-timing section.timing div.all-timing ul.times-only li h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
#rule-timing section.timing div.all-timing ul.times-only li p.each-event {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 18px;
}

footer #contact {
  padding: 0 0 20px 0;
}
footer #contact h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 40px;
}
footer #contact section.both-contact {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0 40px;
}
footer #contact section.both-contact div.left-contact a {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 0.8;
}
footer #contact section.both-contact div.left-contact a div.call-contact {
  margin-right: 10px;
}
footer #contact section.both-contact div.right-contact div.map-full iframe {
  width: 500px;
  height: 350px;
  border-radius: 20px;
  opacity: 0.6;
}
footer #contact section.bottom-event {
  opacity: 0.8;
}

p.developed {
  text-align: center;
  opacity: 0.5;
  padding: 10px 0;
}

section.bottom-event {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 50px 40px 0 40px;
  opacity: 0.8;
}
section.bottom-event a {
  font-weight: 500;
  margin-right: 80px;
}
section.bottom-event div.for-centering-2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
section.bottom-event div.for-centering-2 div.con-icon {
  margin-right: 6px;
  width: 30px;
  display: block;
}
section.bottom-event div.for-centering-2 div.event-call {
  display: flex;
  align-items: center;
}
section.bottom-event div.for-centering-2 div.event-whatsapp {
  display: flex;
  align-items: center;
}
#each-event {
  padding: 50px 0;
  margin: 0 100px;
}
#each-event h3 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
#each-event div.main-event-section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 40px 100px;
}
#each-event div.main-event-section div.for-centering {
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
#each-event div.main-event-section div.for-centering ul.first-part {
  display: flex;
  align-items: center;
}
#each-event div.main-event-section div.for-centering ul.first-part li {
  width: auto;
  display: block;
}
#each-event div.main-event-section div.for-centering ul.first-part li div.single-photo {
  width: 300px;
  margin-right: 40px;
}
#each-event div.main-event-section div.for-centering ul.first-part li div.single-photo img {
  border-radius: 20px;
}
#each-event div.main-event-section div.for-centering ul.first-part li h5 {
  font-weight: bold;
  font-size: 24px;
}
#each-event div.main-event-section div.for-centering ul.first-part li a.register {
  font-weight: 600;
}
#each-event div.main-event-section h6 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
}
#each-event div.main-event-section p.event-detail {
  margin: 10px 0;
}
#each-event div.main-event-section p.comm-detail {
  font-size: 20px;
}
#each-event div.main-event-section div.each-rules h6 {
  margin-bottom: 20px;
}
#each-event div.main-event-section div.each-rules p.each-rule {
  font-size: 18px;
}
#each-event div.main-event-section div.each-rules p.each-rule span {
  margin-right: 10px;
}
#each-event section.bottom-event {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  opacity: 0.8;
}
#each-event section.bottom-event a {
  font-weight: 500;
  margin-right: 80px;
}
#each-event section.bottom-event div.for-centering-2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
#each-event section.bottom-event div.for-centering-2 div.con-icon {
  margin-right: 6px;
  width: 30px;
  display: block;
}
#each-event section.bottom-event div.for-centering-2 div.event-call {
  display: flex;
  align-items: center;
}
#each-event section.bottom-event div.for-centering-2 div.event-whatsapp {
  display: flex;
  align-items: center;
}
@media all and (max-width: 980px) {
  #each-event div.main-event-section {
    padding: 40px 60px;
  }
}
@media all and (max-width: 860px) {
  #each-event {
    padding: 50px 0;
    margin: 0 50px;
  }
}
@media all and (max-width: 768px) {
  #each-event div.main-event-section div.for-centering ul.first-part {
    flex-wrap: wrap;
  }
  #each-event div.main-event-section div.for-centering ul.first-part li {
    margin: 0 auto;
    width: 100%;
  }
  #each-event div.main-event-section div.for-centering ul.first-part li div.single-photo {
    margin: 0 auto 20px;
  }
  #each-event div.main-event-section div.for-centering ul.first-part li h5 {
    font-size: 20px;
  }
  #each-event div.main-event-section h6 {
    margin-top: 20px;
    font-size: 20px;
  }
  #each-event div.main-event-section p.comm-detail {
    font-size: 18px;
  }
  #each-event div.main-event-section div.each-rules p.each-rule {
    font-size: 16px;
  }
  #each-event section.bottom-event a {
    margin-right: 30px;
  }
}
@media all and (max-width: 640px) {
  #each-event div.main-event-section {
    padding: 40px 40px;
  }
}
@media all and (max-width: 480px) {
  #each-event div.main-event-section {
    padding: 40px 20px;
  }
  #each-event {
    padding: 50px 0;
    margin: 0 20px;
  }
  #each-event div.main-event-section div.for-centering ul.first-part li div.single-photo {
    width: 280px;
  }
  #each-event h3 {
    font-size: 24px;
  }
  #each-event div.main-event-section div.for-centering ul.first-part li h5 {
    font-size: 18px;
  }
  #each-event div.main-event-section h6 {
    font-size: 18px;
  }
  #each-event div.main-event-section p.event-detail {
    font-size: 15px;
  }
  #each-event div.main-event-section p.comm-detail {
    font-size: 16px;
  }
  #each-event div.main-event-section div.each-rules p.each-rule {
    font-size: 15px;
  }
}
@media all and (max-width: 360px) {
  #each-event div.main-event-section div.for-centering ul.first-part li div.single-photo {
    width: 240px;
  }
  #each-event div.main-event-section {
    padding: 30px 20px;
  }
  #each-event div.main-event-section div.for-centering ul.first-part li a.register {
    margin-top: 20px;
  }
  #each-event div.main-event-section h6 {
    font-size: 16px;
  }
  #each-event div.main-event-section p.event-detail {
    font-size: 14px;
  }
  #each-event div.main-event-section p.event-detail {
    font-size: 13px;
  }
  #each-event div.main-event-section p.comm-detail {
    font-size: 15px;
  }
  #each-event div.main-event-section div.each-rules h6 {
    margin-bottom: 10px;
  }
  section.bottom-event {
    margin: 50px 20px 0 20px;
  }
}
@media all and (max-width: 1200px) {
  header section.wrapper {
    max-width: 860px;
  }
  #events section.event-section ul li {
    width: 30%;
    margin: 0 20px 20px 0;
  }
  #events section.event-section {
    margin: 0 100px 0;
  }
  #rule-timing {
    padding: 50px 0 100px;
    margin: 0 100px;
  }
  #contact h2 {
    text-align: center;
  }
}
@media all and (max-width: 980px) {
  header section.wrapper {
    max-width: 800px;
  }
  #about ul li div.about-image {
    width: 320px;
  }
  #about ul li p {
    width: 80%;
  }
  #about ul li h2 {
    font-size: 30px;
  }
  #events section.event-section ul li div.group-section h5.event-name {
    font-size: 16px;
  }
  #events section.event-section ul li div.group-section h5.event-reg {
    font-size: 16px;
  }
  #events section.event-section ul li div.group-section a.register {
    font-size: 14px;
    padding: 8px 24px;
  }
  #rule-timing section.timing div.all-timing ul.times-only {
    width: 33%;
  }
  footer #contact section.both-contact div.right-contact div.map-full iframe {
    width: 400px;
    height: 280px;
  }
}
@media all and (max-width: 860px) {
  header section.wrapper {
    max-width: 720px;
  }
  #spotlight {
    padding: 60px 0;
  }
  #about ul li div.about-image {
    width: 280px;
  }
  #about ul li p {
    font-size: 15px;
  }
  #events section.event-section ul li {
    width: 29%;
  }
  #events section.event-section ul li div.group-section h5 {
    font-size: 14px;
    margin: 4px 0;
  }
  #events section.event-section ul li div.group-section h5.event-name {
    font-size: 14px;
  }
  #events section.event-section ul li div.group-section a.register {
    font-size: 13px;
    padding: 6px 18px;
  }
  #events section.event-section {
    margin: 0 60px 0;
  }
  #rule-timing h3 {
    font-size: 24px;
  }
  #rule-timing section.rules div.all-rules h4 {
    font-size: 20px;
  }
  #rule-timing section.rules div.all-rules p.each-rule {
    font-size: 16px;
  }
  #rule-timing section.timing div.all-timing ul.times-only li h5 {
    font-size: 18px;
  }
  #rule-timing section.timing div.all-timing ul.times-only li p.each-event {
    font-size: 16px;
  }
  footer #contact section.both-contact div.right-contact div.map-full iframe {
    width: auto;
  }
  section.bottom-event div.for-centering-2 div.con-icon {
    width: 25px;
  }
}
@media (min-width: 769px) {
  .all-other {
    display: flex;
  }
  .burger-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .all-in-header #navMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right top, #a327cc, #ad2dc9, #b534c6, #bd3bc3, #c442c0, #be4cc6, #b856cc, #b25ed1, #9a69dc, #7f73e5, #5e7ce9, #2f83eb);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .all-in-header #navMenu.show {
    display: flex;
  }
  .all-in-header #navMenu .nav {
    color: #fff;
    margin: 10px 20px;
  }
  .all-in-header .burger-menu {
    display: flex;
  }
  header section.wrapper {
    max-width: 600px;
  }
  #about ul {
    flex-wrap: wrap;
    text-align: center;
  }
  #about ul li.ab-content {
    width: 100%;
  }
  #about ul li.ab-image {
    width: 100%;
  }
  #about ul li p {
    margin: 0 auto;
  }
  #about ul li h2 {
    margin: 20px 0 20px 0;
  }
  #rule-timing section.timing div.all-timing {
    padding: 30px 30px;
  }
  #rule-timing h3 {
    font-size: 22px;
  }
  #rule-timing section.rules div.all-rules h4 {
    font-size: 18px;
  }
  #rule-timing section.rules div.all-rules p.each-rule {
    font-size: 15px;
  }
  #rule-timing section.timing div.all-timing ul.times-only li h5 {
    font-size: 16px;
  }
  #rule-timing section.timing div.all-timing ul.times-only li p.each-event {
    font-size: 15px;
  }
  footer #contact section.both-contact {
    margin: 0 100px;
    flex-wrap: wrap;
  }
  footer #contact section.both-contact div.right-contact {
    width: auto;
    margin: 0 auto;
    display: block;
  }
}
@media all and (max-width: 640px) {
  header section.all-in-header a.logo {
    width: 80px;
  }
  header section.wrapper {
    max-width: 450px;
  }
  #spotlight div.main-image {
    width: 400px;
  }
  #events section.event-section ul li {
    width: 44%;
  }
  #events section.event-section {
    margin: 0 20px 0;
  }
  #rule-timing {
    margin: 0px 30px;
  }
  footer #contact section.both-contact {
    margin: 0 20px;
  }
  footer #contact section.both-contact div.left-contact {
    width: 100%;
  }
  footer #contact h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  section.bottom-event a {
    font-size: 15px;
  }
  section.bottom-event a {
    margin-right: 20px;
  }
  p.developed {
    padding: 0px 0 10px;
    font-size: 14px;
  }
}
@media all and (max-width: 480px) {
  header section.wrapper {
    max-width: 340px;
  }
  #spotlight div.main-image {
    width: 320px;
  }
  #events section.event-section ul li {
    width: 44%;
  }
  #events section.event-section {
    margin: 0 10px 0;
  }
  #rule-timing h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #rule-timing section.rules div.all-rules h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #rule-timing section.rules div.all-rules p.each-rule {
    font-size: 14px;
  }
  #rule-timing section.rules div.all-rules p.each-rule span {
    margin-right: 4px;
  }
  #rule-timing section.rules {
    margin-bottom: 30px;
  }
  #rule-timing section.timing div.all-timing ul.times-only {
    width: 50%;
  }
  #rule-timing section.timing div.all-timing {
    padding: 20px 20px;
  }
  #rule-timing section.timing div.all-timing ul.times-only li p.each-event {
    font-size: 14px;
  }
  footer #contact section.both-contact div.right-contact div.map-full iframe {
    width: 260px;
  }
  footer #contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section.bottom-event div.for-centering-2 {
    flex-wrap: wrap;
  }
  section.bottom-event div.for-centering-2 div.event-call {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 360px) {
  a.register {
    font-size: 13px;
  }
  header section.wrapper {
    max-width: 300px;
  }
  #spotlight h3 {
    font-size: 14px;
  }
  #spotlight div.main-image {
    width: 300px;
  }
  #about ul li p {
    font-size: 14px;
  }
  #about ul li h2 {
    font-size: 24px;
  }
  #events section.event-section ul li {
    width: 100%;
    margin: 0 0 30px 0;
  }
  #rule-timing section.timing div.all-timing {
    padding: 12px;
  }
  #rule-timing h3 {
    font-size: 18px;
  }
  #rule-timing section.rules div.all-rules p.each-rule {
    font-size: 13px;
  }
  #rule-timing section.timing div.all-timing ul.times-only li h5 {
    font-size: 15px;
  }
  #rule-timing section.timing div.all-timing ul.times-only li p.each-event {
    font-size: 13px;
  }
  footer #contact section.both-contact {
    padding: 20px;
  }
  footer #contact section.both-contact div.right-contact div.map-full iframe {
    width: 230px;
  }
  footer #contact section.both-contact div.left-contact a div.call-contact {
    font-size: 15px;
  }
  footer #contact h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p.developed {
    padding: 0px 0 10px;
    font-size: 13px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

body {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(106, 0, 123) 51%, rgb(255, 0, 249) 100%);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */