
@import "main" ;
@import "event" ;
@import "responsive" ;

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}

body {
    background-image: linear-gradient(to right top, #a327cc, #ad2dc9, #b534c6, #bd3bc3, #c442c0, #be4cc6, #b856cc, #b25ed1, #9a69dc, #7f73e5, #5e7ce9, #2f83eb);
    min-height: 100vh;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}